.CFUserTextEncoding
.DS_Store
.aws/
.backport/
.bash_history
.bash_profile
.bashrc
.bi-sockets/
.bun/
.cache/
.cdk8s-cli.version
.chatgpt/
.config/claude
.claude.backup*
.claude.json
.claude.json.backup
.claude/
.colima/
.cups/
.cursor/
.docker/
.duckdb/
.expo/
.fjira/
.gem/
.gitconfig
.gk/
.gtk-bookmarks
.iterm2_shell_integration.zsh
.lattice-magic-bash
.lattice-magic-zsh
.lesshst
.lima/
.local/
.matplotlib/
.meta-networks/
.nix-defexpr/
.nix-profile
.no_more_nix
.node_repl_history
.npm/
.npmrc
.osquery/
.pgadmin/
.pnpm-state/
.pnpm-store/
.psql_history
.python_history
.rover/
.saml2aws
.sqitch/
.ssh/
.swiftpm/
.tmux/
.Trash/
.thumbnails/
.vim/
.viminfo
.vimrc
.vscode/
.warp/
.wrangler/
.zcompdump*
.zsh_history
.zsh_sessions/
.zshenv
Applications/
configstore/
Developer/
Documents/
Desktop/
Downloads/
Github/
Library/
Movies/
Music/
PROD EXPORTS/
Pictures/
Playwright/
Postman/
psql_queries/
Public/
temporalio/
go/
iCloud Drive (Archive)/

# all pictures
*.jpeg
*.sql
