.CFUserTextEncoding
.DS_Store
.aws/
.backport/
.bash_history
.bash_profile
.bashrc
.bun/
.cache/
.cdk8s-cli.version
.chatgpt/
.claude.backup-2025-10-11-21.json
.claude.backup-2025-10-24-15.json
.claude.backup-2025-10-24-16.json
.claude.backup-2025-10-24-21.json
.claude.backup-2025-10-29-10.json
.claude.backup-2025-10-29-15.json
.claude.backup-2025-10-30-09.json
.claude.backup-2025-10-30-21.json
.claude.backup-2025-11-04-09.json
.claude.backup-2025-11-04-13.json
.claude.backup-2025-11-05-09.json
.claude.backup-2025-11-06-09.json
.claude.json
.claude.json.backup
.claude/
.colima/
.config/.DS_Store
.config/aerc/
.config/calcurse/
.config/configstore/
.config/fish/
.config/gh/
.config/github-copilot/
.config/gtk-2.0/
.config/iterm2/
.config/jiratui/
.config/karabiner/
.config/lazygit/
.config/nvim.bak-starter/
.config/nvim.light/
.config/nvim/
.config/rainfrog_config.toml
.config/simple-update-notifier/
.config/starship.toml
.config/tabtab/
.config/temporalio/
.config/uv/
.config/waveterm/
.cups/
.cursor/
.docker/
.duckdb/
.expo/
.fjira/
.gem/
.gitconfig
.gk/
.gtk-bookmarks
.iterm2_shell_integration.zsh
.lattice-magic-bash
.lattice-magic-zsh
.lesshst
.lima/
.local/
.matplotlib/
.meta-networks/
.nix-defexpr/
.nix-profile
.no_more_nix
.node_repl_history
.npm/
.npmrc
.overmind.tmux.conf
.pgadmin/
.pnpm-state/
.pnpm-store/
.profile
.psql_history
.python_history
.rover/
.saml2aws
.sqitch/
.ssh/
.swiftpm/
.tmux.conf
.tmux/
.vim/
.viminfo
.vimrc
.vscode/
.warp/
.wezterm.lua.cf14e695.bak
.zcompdump
.zcompdump-CPeters-5.8.1
.zcompdump-CPeters-5.8.1.zwc
.zcompdump-CPeters-5.9
.zcompdump-CPeters-5.9.zwc
".zcompdump-Casey\342\200\231s MacBook Pro-5.8.1"
.zsh_history
.zsh_sessions/
.zshenv
.zshrc.bak
.zshrc.omz-uninstalled-2025-09-17_11-59-37
Applications/
CHVY_taxes_2025.jpeg
Developer/
Documents/
Downloads/
Github/
IMG_0813.jpeg
IMG_0815.jpeg
KIA_taxes_2025.jpeg
Library/
Movies/
Music/
PROD EXPORTS/
Pictures/
Playwright/
Public/
README.md
angel_dl.jpeg
casey_dl.jpeg
com.visualstudio.code.tunnel.plist
go/
iCloud Drive (Archive)/
iris_rev__6.layout.json
lattice.latticehq.com.har
psql_queries/
